#two,
#three,
#four {
  display: none;
}
#arrowOne,
#arrowTwo,
#arrowThree,
#arrowFour {
  display: inline-block;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input,
button {
  height: 2rem;
}
input:invalid {
  border: 2px solid red;
}
input:valid {
  border: 2px solid green;
}
section {
  height: 160px;
  margin-bottom: 10px;
}

.arrow {
  width: 150px;
  height: 150px;
  background-image: linear-gradient(to bottom right, transparent 50%, gray 0),
    linear-gradient(to top right, gray 50%, transparent 0);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
  transform: rotate(90deg);
}

.green {
  animation-name: greenify;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes greenify {
  0% {
    background-image: linear-gradient(to bottom right, transparent 50%, gray 0),
      linear-gradient(to top right, gray 50%, transparent 0);
  }
  100% {
    background-image: linear-gradient(to bottom right, transparent 50%, green 0),
      linear-gradient(to top right, green 50%, transparent 0);
  }
}
